.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Josefin Sans";
  color: #6794b7;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.30em;
  margin-top: 0.5em;
  margin-bottom: -1.1em;
}
.header__logo {
  text-align: center;
  margin-right: -1.3em;
  fill: #6794b7;
  height: 2.63em;
  width: 2.63em;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #6b9ad0;
  height: 3.44em;
  border-bottom: 0.31em solid #c6defa;
  font-family: "Josefin Sans";
}
.navigation__list {
  margin: 0.63em 12.5em 0.63px 9.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: inherit;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  list-style-type: none;
}
.navigation__href {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.navigation__href:hover {
  color: #c6defa;
}
.navigation__triangle {
  content: "";
  position: absolute;
  top: 8.49em;
  border: 0.81em solid transparent;
  border-top-width: 0.63em;
  border-bottom-width: 0.5em;
  border-top-color: #6b9ad0;
  width: 0.06em;
}
.navigation__triangle-down {
  content: "";
  position: absolute;
  top: 8.78em;
  border: 0.92em solid transparent;
  border-top-width: 0.63em;
  border-bottom-width: 0.5em;
  border-top-color: #c6defa;
  width: 0.1em;
  z-index: -2;
}
