@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
body {
  color: #000000;
  background: #ffffff;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
  color: #69747c;
  font-family: "PT Sans Narrow";
}
.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: -0.63em 0 0 1.88em;
  width: 16em;
  text-align: justify;
}
.footnote {
  width: 100%;
}
.footnote__title {
  font-family: "Josefin Sans";
  font-size: 1.19em;
  font-weight: 900;
  text-transform: uppercase;
  color: #6b9ad0;
  border-bottom: 0.31em solid #6794b7;
}
.footnote__symbol {
  color: #ffffff;
  background-color: #6794b7;
  margin-right: 0.94em;
  width: 3.13em;
  height: 9.38em;
  font-size: 1.25em;
  text-align: center;
  padding: 0.22em 0.58em 0 0.74em;
}
.footnote__symbol:before {
  color: white;
  background-color: #6794b7;
  font-size: 1.25em;
  text-align: center;
  padding: 0.06em 0.63em;
}
.label__item {
  display: inline-block;
  color: #ffffff;
  background-color: #6794b7;
  height: 1.25em;
  margin-right: 1.13em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-top: 0.38em;
  position: relative;
}
.label__item:before {
  content: "";
  position: absolute;
  right: -1.56em;
  border: 0.63em solid transparent;
  border-left: 0.94em solid #6794b7;
}
.label__icon {
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-radius: 1em;
  background-color: #ffffff;
  margin-left: 0.6em;
  margin-top: 0.4em;
}
.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.label__list {
  display: flex;
  list-style-type: none;
  margin: -1em 0 0 -2.5em;
  padding-top: 1em;
  text-align: center;
  flex-wrap: wrap;
}
.label__link {
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
}
.label__link:hover {
  color: #c6defa;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Josefin Sans";
  color: #6794b7;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.30em;
  margin-top: 0.5em;
  margin-bottom: -1.1em;
}
.header__logo {
  text-align: center;
  margin-right: -1.3em;
  fill: #6794b7;
  height: 2.63em;
  width: 2.63em;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #6b9ad0;
  height: 3.44em;
  border-bottom: 0.31em solid #c6defa;
  font-family: "Josefin Sans";
}
.navigation__list {
  margin: 0.63em 12.5em 0.63px 9.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: inherit;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  list-style-type: none;
}
.navigation__href {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.navigation__href:hover {
  color: #c6defa;
}
.navigation__triangle {
  content: "";
  position: absolute;
  top: 8.49em;
  border: 0.81em solid transparent;
  border-top-width: 0.63em;
  border-bottom-width: 0.5em;
  border-top-color: #6b9ad0;
  width: 0.06em;
}
.navigation__triangle-down {
  content: "";
  position: absolute;
  top: 8.78em;
  border: 0.92em solid transparent;
  border-top-width: 0.63em;
  border-bottom-width: 0.5em;
  border-top-color: #c6defa;
  width: 0.1em;
  z-index: -2;
}
.content__img {
  height: 14.5em;
  width: 40.13em;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 3.13em;
  text-align: justify;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content__title {
  font-family: "Josefin Sans";
  margin: 0.63em 0 0.63em 0;
}
.content__links {
  text-decoration: none;
  text-transform: none;
  color: #69747c;
}
.content__links:hover {
  color: #999999;
}
.main {
  width: 40em;
}
.content {
  width: 100%;
}
.line {
  border-top: 0.06em solid #e2e5e8;
  border-bottom: 0.06em solid #e2e5e8;
  height: 2.25em;
}
.line__icon-left {
  fill: #a2aab2;
  width: 1.0em;
  height: 1.3em;
}
.line__list {
  display: inline-flex;
  list-style-type: none;
  margin: -1em 2.3em 0 -2.5em;
  text-align: center;
}
.line__data {
  padding-top: -3em;
}
.line__list-right {
  display: inline-flex;
  list-style-type: none;
  margin-left: 1.9em;
}
.cube__icon-right {
  fill: #ffffff;
  width: 1.5em;
  height: 1.5em;
}
.text {
  color: grey;
  margin: 0.1em 0;
  vertical-align: 0.44em;
}
.text--post_inform {
  padding: 0 1em 0 0;
}
.text--side {
  padding: 0 0 1.25em 0;
}
.dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 4em;
}
.line__link {
  text-decoration: none;
  text-transform: none;
  color: #69747c;
  vertical-align: 0.46em;
}
.line__link:hover {
  color: #999999;
}
.cube {
  display: inline-block;
  background-color: #d1dae3;
  height: 1.5em;
  position: relative;
  margin-top: -2.6em;
  border-radius: 0.19em;
  margin-left: 0.25em;
}
.cube__message {
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
  margin: 0 0.38em 0 0.5em;
  vertical-align: 0.25em;
}
.cube__message:hover {
  color: #69747c;
}
.social__link {
  display: none;
}
.content__paragraph {
  width: 100%;
}
