li { 
list-style-type: none; 
} 
ol { 
counter-reset: list 6; 
} 
ol li:before {
counter-increment: list; 
content: counter(list) ". "; 
}
#list li{
margin: 0 0 0 50px;
padding-left: 0px; 
margin-top: 1px; 
margin-bottom: 1px;
list-style-type: circle;
}
#caption {
text-align: center;
}
#table {
width: 100%;
}